.main{
    background-image: url('https://images.pexels.com/photos/534216/pexels-photo-534216.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover; /* Ajusta la imagen para cubrir todo el div */
    background-position: center; /* Centra la imagen */
    height: 100px; /* Establece una altura */
    width: 100%; /* O establece un ancho específico */
}

.logo {
    width: 100px;  /* Ajusta el tamaño deseado */
    height: auto;  /* Mantiene la relación de aspecto */
    border-radius: 50%;
  }

.left-side {
    margin-top: 50px; /* Asegura que ocupe el 100% de la altura de la pantalla */
  }

.h3 {
    margin: 0; /* Elimina el margen por defecto de los <h3> */
    line-height: 1.2; /* Ajusta la altura de línea para evitar mucho espacio entre los títulos */
  }

  
  
  footer {
    background-color: #343a40; /* Color del footer */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin-top: 0px;
  }

  header {
    margin-bottom: 20px;
  }
  
  .navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link {
    color: #007bff; /* Color del texto del enlace */
  }
  
  .nav-link:hover {
    color: #0056b3; /* Color del texto al pasar el ratón */
    text-decoration: underline; /* Subrayar al pasar el ratón */
  }
  